@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    JS <br />
    AKR PG,Btm 1st stage,Bangalore <br />
    <abbr title="Phone">MNo:9755230029</abbr>
    
</address>

<address>
    <strong>Email:Jiteshwari19@gmail.com</strong> <a href=""></a>
   
</address>
